<form [formGroup]="weatherForm" (ngSubmit)="getWeather()">
    <mat-card>
        <h1>Current Weather</h1>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <input type="text" formControlName="city" matInput>
                <mat-label>Enter city name</mat-label>

                <mat-error *ngIf="weatherForm.get('city')?.touched && weatherForm.get('city')?.hasError('required')">
                    <b>City Name</b> is required
                </mat-error>
            </mat-form-field>
        </mat-card-content>

        <button 
            [disabled]="weatherForm.invalid"
            mat-raised-button color="accent">
            
            Submit
        </button>

        <div class="result">
        </div>
    </mat-card>
</form>

<div *ngIf="result" class="card">
    <app-weather-card 
        [address]="result['resolvedAddress']"
        [data]="result['days'][0]"> </app-weather-card>
</div>

<div class="error" *ngIf="error">
    <img src="../../../assets/404.png" alt="">
    <h1>SORRY...! We are unable to find requested city</h1>
</div>
