<ngx-ui-loader
  fgsColor="#F5CE3D"
  [fgsSize]="80"
  fgsType="rectangle-bounce"
  text="Please Wait...."
  textColor="#F5CE3D"
  pbColor="#F5CE3D"
  [pbThickness]="6"
  >
</ngx-ui-loader>

<div ngxUiLoaderBlurred [blur]="10">
  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="logo">Weather App</span>
      <span class="example-spacer"></span>
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Weather</a>
        </li>

        <li>
          <a routerLink="forecast" routerLinkActive="active">Forecast</a>
        </li>
      </ul>
    </mat-toolbar-row>
    
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>